@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
    color: #fff;
    width: 100%;
    background: #302c3c;
    background-image: url(/Images/bg.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

* {
    font-family: 'Source Code Pro', monospace;
}

img {
    width: fit-content;
    height: fit-content;
}

.navbar {
    display: flex;
    justify-content: center;
}

.btn {
    text-decoration: none;
    font-size: x-large;
    transition: 1s;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
}


.btn:hover {
    font-size: xx-large;
    padding-top: 0.6rem;
}

.splitter {
    font-size: 1.2rem;
}

